{% extends 'info/main.html' %}
{% load static %}
{% block content %}


<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">

          <ol>
            <li><a href="index.html">Home</a></li>
            <li>About</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= About Us Section ======= -->
    <section id="about-us" class="about-us">
      <div class="container" data-aos="fade-up">

        <div class="row content">
          <div class="col-lg-6" data-aos="fade-right">
            <h2>Break the Business Barrier !  </h2>
            <h3>How does Digital Business Profile helps me to reach out more customer ?</h3>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left">
            <p>
              
				Think, what if you find out a girl, but unable to find a nearest restaurent !!
				Same conditional experience, will be recognized by every customer, when they are are seeking for service. 
            	In this condition, your Digital Business Profile can help your 
            	customer to find out and able to reach at your shopfront, which will turns your potential customer to your promising customer.
            </p>
            <!--<ul>
              <li><i class="ri-check-double-line"></i> first one </li>
              <li><i class="ri-check-double-line"></i> Duis aute irure dolor in reprehenderit in voluptate velit</li>
              <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in</li>
            </ul>-->
            <p class="font-italic">
              Transform your Business into Digital Business
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Our Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2 class="text-white"> Break The <strong class="text-white"> Barrier</strong></h2>
          <p class="text-white"></p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up">
              <div class="member-img">
                <img src="{% static 'info/assets/img/1.png'%}" class="img-fluid" alt="">
              
              </div>
              <div class="member-info">
                <h4>Reach to More People</h4>
                <span>Geographical Barrier </span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="{% static 'info/assets/img/3.png'%}" class="img-fluid" alt="">
               
              </div>
              <div class="member-info">
                <h4>Be Available Everytime</h4>
                <span>Time Barrier</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="200">
              <div class="member-img">
                <img src="{% static 'info/assets/img/2.png'%}" class="img-fluid" alt="">
                
              </div>
              <div class="member-info">
                <h4>Inform them about you</h4>
                <span>Communication Barrier</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="300">
              <div class="member-img">
                <img src="{% static 'info/assets/img/4.png'%}" class="img-fluid" alt="">
              
              </div>
              <div class="member-info">
                <h4>Assist   your  Customer </h4>
                <span>Connection Barrier</span>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section>
    <!-- End Our Team Section -->

    
 

  </main><!-- End #main -->

{% endblock content %}