{% extends 'info/main.html' %}
{% load static %}
{% block content %}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container mt-2">

        <div class="d-flex justify-content-between align-items-center">

          <ol>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li>Product</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= About Us Section ======= -->
    <section id="about-us" class="about-us">
      <div class="container" data-aos="fade-up">

        <div class="row content">
          <div class="col-lg-6" data-aos="fade-right">
            <h2>Why every Business need Website</h2>
            <h3>A website is a tool for your business which kills the geographical barrier
               with your website, anyone can open your Business Online Window in just one click.</h3>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left">
            <p>
              We not only designed Webportal for business but also helps our customer to know every 
              details about how to grow in Online Market. 
              We consult our audiences and helps them to go with best for their business.
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i>Website can be as simple as company portfolio to as complex as Ecommerce portal. Website Developed based on 
                What kind of Business you do, Website is a Business Tool and Your Business has its own Need !!</li>
              <li><i class="ri-check-double-line"></i>We Develop BeDigital For Schools to turn their exsisting website 
                into an Online Learning Portal to teach their student online in a better Learning envoiurment. </li>
              <li><i class="ri-check-double-line"></i>We help businesses in building their Social Media
                 Representation by creating marketing content for their Social Media for better customer interaction.</li>
            </ul>
            <p class="font-italic">
              We are here to gives you understanding about Website and How it can be helpful to take your business from Local to Global.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

 <!-- ======= About Us Section ======= -->
    <section id="about-us" class="about-us">
      <div class="container" data-aos="fade-up">

        <div class="row content">
         
          <div class="col-lg-12" data-aos="fade-right">
            <img src="{% static 'info/assets/img/learnincreation-shop.jpeg' %}" style="width: inherit; height: inherit;">
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="box">
              <h3>StartPlus +<sup></sup></h3>
              <h4><sup>Rs</sup>9025<span> / year</span></h4>
              <ul>
                <li>Complete Year Package</li>
                <li>Mobile Responsive Website</li>
                <li>Business Domain and Hosting</li>
                <li> Service and Maintainence</li>
                <li class="na">Database Creation</li>
                <li class="na">Dynamic Functionality</li>
              </ul>
              <div class="btn-wrap">
                <a href="http://learnincreation.co.in/product" target="_blank" class="btn-buy">Know more</a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-md-0">
            <div class="box featured">
              <h3>Digital-X</h3>
              <h4><sup>Rs.</sup>25,550<span> / year</span></h4>
              <ul>
                <li>Complete Year Package</li>
                <li>Mobile Responsive Website</li>
                <li>Business Domain and Hosting</li>
                <li>Database Creation</li>
                <li>Dynamic Functionality</li>
                <li class="na">Service & Maintainence</li>
              </ul>
              <div class="btn-wrap">
                <a href="http://learnincreation.co.in/product" target="_blank" class="btn-buy">Know more</a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
            <div class="box">
              <h3>BeDigital</h3>
              <h4><sup>Rs.</sup>36,500<span> / year</span></h4>
              <ul>
                <li>Complete Year Package</li>
                <li>Mobile Responsive Website</li>
                <li>Business Domain and Hosting</li>
                <li>Database Creation</li>
                <li>Dynamic Functionality</li>
                <li class="na">Service and Maintainence</li>
              </ul>
              <div class="btn-wrap">
                <a href="http://learnincreation.co.in/product" target="_blank" class="btn-buy">Know more</a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
            <div class="box">
              <span class="advanced">Open Now </span>
              <h3>Business Window</h3>
              <h4><sup>Rs.</sup>0<span> / year</span></h4>
              <ul>
                <li>Create your Shop </li>
                <li>List your Service</li>
                <li>Connect with New customer</li>
                <li>Turn your Business 24*7 </li>
                <li class="na">Your Business Domain</li>
                <li class="na"> Customizable </li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Create Shop</a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Pricing Section -->

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Frequently Asked Questions</h2>
        </div>

        <div class="faq-list">
          <ul>
            <li data-aos="fade-up">
              <i class="bx bx-help-circle icon-help"></i>
               <a data-toggle="collapse" class="collapse" href="#faq-list-1">
                What is Digital Business Profile? 
                <i class="bx bx-chevron-down icon-show"></i>
                <i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-1" class="collapse show" data-parent=".faq-list">
                <p>
                  Like every business, your business also need a profile in Digital Media to show or represnt your business to others, in order to find potential customer and engage them with your Brand Message in order to sell your service & products.
                  That's what a Business Profile does business.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-help-circle icon-help"></i> 
              <a data-toggle="collapse" href="#faq-list-2" class="collapsed">
                How does Digital Business Profile helps me to reach out more customer ?
                 <i class="bx bx-chevron-down icon-show"></i>
                 <i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-2" class="collapse" data-parent=".faq-list">
                <p>
                  Think, what if you find out a girl, but unable to find a nearest restaurent !!
                  Same conditional experience, will be recognized by every customer, when they are are seeking for service. In this condition, your Digital Business Profile can help your customer to find out and able to reach at your shopfront, which will turns your potential customer to your promising customer.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="200">
              <i class="bx bx-help-circle icon-help"></i> 
              <a data-toggle="collapse" href="#faq-list-3" class="collapsed">
                How much Digital Business Presence cost ? 
                <i class="bx bx-chevron-down icon-show"></i>
                <i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-3" class="collapse" data-parent=".faq-list">
                <p>
                  In Learnincreation, we always focused to Empowering You and Your Business, 
                  with Learnincreation Business you can start with just 25 INR/day (CAC)
                   and will build your Business Brand global or you can create your shop digital profile for FREE.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="300">
              <i class="bx bx-help-circle icon-help"></i>
               <a data-toggle="collapse" href="#faq-list-4" class="collapsed">
                Can I still use Digital Business Profile, if I don't have Shop front ? 
                <i class="bx bx-chevron-down icon-show"></i>
                <i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-4" class="collapse" data-parent=".faq-list">
                <p>
                  Yes, you can able to build your Busienss Profile as far as you are not faking your business in a digital world, and serve a genuiene service. However every business profile should be verified and authentic.
                  
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="400">
              <i class="bx bx-help-circle icon-help"></i> 
              <a data-toggle="collapse" href="#faq-list-5" class="collapsed">
                I'm still struggling to understand which service package is best suit to my business?
                 <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-5" class="collapse" data-parent=".faq-list">
                <p>
                  write to us, we are here for your question and confusion! write your note on contact page ,and we will help you with your every question.
                </p>
              </div>
            </li>

          </ul>
        </div>

      </div>
    </section><!-- End Frequently Asked Questions Section -->

  </main><!-- End #main -->

{% endblock content %}