{% extends 'info/main.html' %}
{% load static %}
{% block content %}

<!-- courosel banner-->
<div class="container">
  <div class="row mt-5"> 
<div class=" mb-3">
  <img class="card-img-top" src="{% static 'info/assets/img/slide/slide-1.jpeg' %}" alt="Card image cap">
      <div class="card-body">
        <h2 class="card-title">Your Shop Can't  Move, But You Can Take Smart Move</h2>
        <p class="card-text">Build your Business Presence with Learnincreation Business, and Be Available for your customer's Anytime and Anywhere.</p>
        <p class="card-text"><small class="text-muted"></small></p>
      </div>
    </div>
  </div>
</div>
  <main id="main">

    <!-- ======= About Us Section ======= -->
    <section id="about-us" class="about-us">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Start with the Basics</strong></h2>
        </div>

        <div class="row content">
          <div class="col-lg-12" data-aos="fade-right">
            <h2>How to Get Start ?</h2>
            <h3> A Website has many function and purpose based on your Business,</h3>
          </div>
          <div class="col-lg-12 pt-4 pt-lg-0" data-aos="fade-left">
            <p>
              
			 You can start with Standard Static website & can go to 
            big Dynamic E-Commmerce website or as per your requirement to aware your potential customer about your business.
            We suggest you to learn more about Start Plus + program (A Complete Yearly Package for StartUp or Small business)
            as its was for good start to understand all things worked !!
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> Mobile Responsive Website for a year</li>
              <li><i class="ri-check-double-line"></i> Business Domain for a year </li>
              <li><i class="ri-check-double-line"></i> Inluding Web Hosting for a complete year with maintainence. </li>
            </ul>
            <p class="font-italic">
              Business Website , Domain Ya Ho Hosting,
            Sab Khuch Milega on Learnincreation.co.in !!
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

		 <!-- Message desk ---> 

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container">
                <div class="section-title">
          <h2 class="text-white">From The Desk of Our Clients </strong></h2>
        </div>
        <div class="row">

          <div class="col-lg-6" data-aos="fade-up">
            <div class="testimonial-item">
              <!--<img src="{% static 'info/assets/img/testimonials/testimonials-1.jpg' %}" class="testimonial-img" alt="">-->
              <h3>Online Solution</h3>
              <h4> <!--Online Solution &amp; --> Rudrapur</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Although We may have many option, but we are happy to choose you , and its easy to work with people who knows what they deliver's.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <div class="testimonial-item mt-4 mt-lg-0"> 
            <!--  <img src="{% static 'info/assets/img/testimonials/testimonials-2.jpg' %}" class="testimonial-img" alt="">-->
              <h3>ShriKrishna Hospital</h3>
              <h4>Rudrapur</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                You are creative team, when it comes to social media design and , and totally supportive with your project. StartPlus+ is really good!.    
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
            <div class="testimonial-item mt-4">
             <!-- <img src="{% static 'info/assets/img/testimonials/testimonials-3.jpg'%}" class="testimonial-img" alt=""> -->
              <h3>Chap Chowk Restaurant</h3>
              <h4>Rudrapur</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Social Media designs are creative and amazing ! We are satisfied. Good Job! Nice People
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
            <div class="testimonial-item mt-4">
              <!--<img src="{% static 'info/assets/img/testimonials/testimonials-4.jpg'%}" class="testimonial-img" alt="">-->
              <h3>Omprakash Crockery</h3>
              <h4>Rudrapur</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                It easy to reach more people now, Digitally ! Good Supportive Team, Website make the work easier. 
                 <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
            <div class="testimonial-item mt-4">
              <!--<img src="{% static 'info/assets/img/testimonials/testimonials-5.jpg'%}" class="testimonial-img" alt="">-->
              <h3>Parvatesh Packaging </h3>
              <h4>Rudrapur, SIDCUL INDS. Area</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                At first  we thought having a business website  cost a lot, but you guys made best things affordable ! Good Wishes Learnincreation 
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>

         <div class="col-lg-6" data-aos="fade-up" data-aos-delay="500">
            <div class="testimonial-item mt-4">
              <h3>Khana-Khajana </h3>
              <h4>Haldwani</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Via our business Digital presence now its much easier to tell our customer about our work & event details, now it's easy to connect with new people! Thanks Learnincreation.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Testimonials Section -->

  </main><!-- End #main -->
		 

		 <!-- message desk end --- > 



    <!-- ======= Portfolio Section ======= 
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Gallary Corner </h2>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-lab">Designs</li>
              <li data-filter=".filter-event">Logo</li>
              <li data-filter=".filter-campus">Events</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up">

          <div class="col-lg-4 col-md-6 portfolio-item filter-campus">
            <img src="{% static 'info/assets/img/portfolio/portfolio-1.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>School Campus Name</h4>
              <p>Campus</p>
              <a href="{% static 'info/assets/img/portfolio/portfolio-1.jpg' %}" data-gall="portfolioGallery" class="venobox preview-link" title="Campus Name"><i class="bx bx-plus"></i></a>
              
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-campus">
            <img src="{% static 'info/assets/img/portfolio/portfolio-2.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>School Campus</h4>
              <p>Campus</p>
              <a href="{% static 'info/assets/img/portfolio/portfolio-2.jpg' %}" data-gall="portfolioGallery" class="venobox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-campus">
            <img src="{% static 'info/assets/img/portfolio/portfolio-3.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>School Campus Name 2</h4>
              <p>Campus</p>
              <a href="{% static 'info/assets/img/portfolio/portfolio-3.jpg' %}" data-gall="portfolioGallery" class="venobox preview-link" title="Campus Name 2"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-lab">
            <img src="{% static 'info/assets/img/portfolio/portfolio-4.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>School Lab 2</h4>
              <p>Lab</p>
              <a href="{% static 'info/assets/img/portfolio/portfolio-4.jpg' %}" data-gall="portfolioGallery" class="venobox preview-link" title="Card 2"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-lab">
            <img src="{% static 'info/assets/img/portfolio/portfolio-5.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>School Lab</h4>
              <p>Lab</p>
              <a href="{% static 'info/assets/img/portfolio/portfolio-5.jpg' %}" data-gall="portfolioGallery" class="venobox preview-link" title="Event 2"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-lab">
            <img src="{% static 'info/assets/img/portfolio/portfolio-6.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Lab Name 3</h4>
              <p>Lab</p>
              <a href="{% static 'info/assets/img/portfolio/portfolio-6.jpg' %}" data-gall="portfolioGallery" class="venobox preview-link" title="Lab Name 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-lab">
            <img src="{% static 'info/assets/img/portfolio/portfolio-7.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>School Lab 2</h4>
              <p>Lab</p>
              <a href="{% static 'info/assets/img/portfolio/portfolio-7.jpg' %}" data-gall="portfolioGallery" class="venobox preview-link" title="Card 1"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-event">
            <img src="{% static 'info/assets/img/portfolio/portfolio-8.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Event 3</h4>
              <p>Event</p>
              <a href="{% static 'info/assets/img/portfolio/portfolio-8.jpg' %}" data-gall="portfolioGallery" class="venobox preview-link" title="Card 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-event">
            <img src="{% static 'info/assets/img/portfolio/portfolio-9.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Event name</h4>
              <p>Event</p>
              <a href="{% static 'info/assets/img/portfolio/portfolio-9.jpg' %}" data-gall="portfolioGallery" class="venobox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

        </div>

      </div>
    </section>
    <!-- End Portfolio Section -->

    <!-- ======= Our Clients Section ======= -->
    <section id="clients" class="clients">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Padega India Tabhi To Badega India</h2>
        <h3> Learn More Skill's with Free Learning Portal</h3>
        </div>

        <div class="row no-gutters clients-wrap clearfix" data-aos="fade-up">

          <div class="col-lg-3 col-md-4 col-6">
            <div class="client-logo">
              <a href="https://swayam.gov.in/"><img src="{% static 'info/assets/img/swayam_logo.png' %}" class="img-fluid" alt="">
            </div></a>
          </div>

          <div class="col-lg-3 col-md-4 col-6">
            <div class="client-logo">
              <a href="https://www.india.gov.in/spotlight/diksha-national-digital-infrastructure-teachers"><img src="{% static 'info/assets/img/diksha.jpg' %}" class="img-fluid" alt=""></a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-6">
            <div class="client-logo">
              <a href="https://itpd.ncert.gov.in/"><img src="{% static 'info/assets/img/nishtha.jpg' %}" class="img-fluid" alt=""></a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-6">
            <div class="client-logo">
              <a href="https://www.india.gov.in/topics/education"><img src="{% static 'info/assets/img/education.png' %}" class="img-fluid" alt=""></a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-6">
            <div class="client-logo">
             <a href="https://repository.seshagun.nic.in/dhruv/"> <img src="{% static 'info/assets/img/dhruv_logo.jpg' %}" class="img-fluid" alt=""></a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-6">
            <div class="client-logo">
             <a href="http://www.learnincreation.co.in/"> <img src="{% static 'info/assets/img/logo-geeks.jpg' %}" class="img-fluid" alt=""></a>
            </div>
          </div>


        </div>

      </div>
    </section><!-- End Our Clients Section -->

  </main><!-- End #main -->


{% endblock content %}